# 此为注释 – 将被 Git 忽略

*.a       # 忽略所有 .a 结尾的文件
!lib.a    # 但 lib.a 除外
/ddd     # 仅仅忽略项目根目录下的 ddd 文件，不包括 subdir
build/    # 忽略 build/ 目录下的所有文件
doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt

/webapp/target/
/service/target/
/api/target/
/worker/target/
/chronos/target/
/common/target/
/job/target/
.idea/
/logs/
/webapp/src/main/webapp/WEB-INF/classes/
*.log
*.iml
*.DS_Store